/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*====================================================*/
/*====================================================*/

* {
	box-sizing: border-box;
}
/*for small screen*/
@media (min-width:320px) {
	body {
		text-align: center;
		background-color: #6C929F;
		color: white;
		font-family: 'Exo', sans-serif;
	}

	h1 {
		font-size: 2.9em;
		text-align: center;
		font-weight: bold;
		letter-spacing: 2px;
	}

	ul {
		padding: 20px;
	}

	li {
		margin: 20px;
		font-weight: bold;
		font-size: 1.3em;
		text-align: center;
		letter-spacing: 5px;
	}



	#profileimage {
		width: 200px;
		height: 200px;
		margin: 30px;
		padding: 5px;
		border-bottom-left-radius: 50%;
		border-top-right-radius: 50%;
		border: 10px solid #fff;
		box-shadow: 10px 10px #6C929F;
	}

	header {
		color: #fff;
		padding-top: 20px;
		border-left: 10px solid #FFF;
		border-right: 10px solid #6c929f;
		background: #9f7c6c;
	}

	.info {
		background: #9f7c6c;
		padding-bottom: 10px;
		font-size: 1.3em;
		margin-bottom: 100px;
		border-left: 10px solid #fff;
		line-height: normal;
	}

	h2#portfolio,
	#contact h2 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.5em;
	}

	h2 {
		font-weight: bold;
	}

	h2#portfolio {
		border-top: 2px solid #fff;
		padding-top: 50px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	#contact {
		margin-top: 100px;
		margin-bottom: 50px;
		padding-top: 50px;
		border-top: 2px solid #fff;
	}

	#contact p {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	p {
		text-align: center;
		margin: 20px;
		font-size: 1em;
		line-height: normal;
	}

	.portfolio {
		padding: 10px;
		border-right: 10px solid #9f7c6c;
		overflow: hidden;
	}

	a {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
	}


	.portfolio img {
		width: 96%;
		border-left: 10px solid #9f7c6c;
		border-right: 2px solid #fff;
		margin-bottom: 20px;
	}


	.footer-nav {
		display: none;
	}

	footer {
		border-right: 10px solid #6C929F;
		padding-bottom: 10px;
		overflow: hidden;
		background-color: #9f7c6c;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.left,
	h2.right {
		margin: 20px 10px 20px;
		font-weight: bold;
		font-size: 1em;
		text-transform: uppercase;
	}
}

/* This is style for the tablet */


@media (min-width:768px) {

	.main-nav li {
		display: inline;
	}

	.info p {
		float: left;
		width: 50%;
	}

	.photo {
		width: 50%;
		display: block;
		float: right;
		padding: 0 2% 0 0;
		margin-left: auto;
		margin-right: auto;

	}

	.info {
		background: url('../images/computer.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.info p {
		float: right;
		margin-top: 100px;
		font-weight: bold;
	}

	#profileimage {
		box-shadow: -10px -10px #6C929F;

	}

	#contact {
		clear: both;
	}

	footer {
		font-size: 20px;
	}

	.footer-nav {
		display: inline;
		margin: 0;
		padding: 0;

	}

	.footer-nav ul {
		margin-left: 230px;
		padding-top: 10px;
		padding-left: 50px;


	}

	.footer-nav ul li {
		display: inline;
		margin: 20px;
		font-size: 1em;
	}

	.footer-nav ul li:last-child {
		margin: 0px;

	}

	.footer-nav ul {
		margin-top: 10px;
		padding: 10px;
		margin-left: 200px;
		text-align: right;


	}

	.right {
		display: none;
	}
}

/* This is style for the computer  */


@media (min-width:1024px) {
	.photo {
		width: 33.3%;
		display: block;
		float: right;
	}

	h1 {
		text-align: left;
		padding: 10px;
		padding-top: 0;
		float: left;
		color: #fff;
	}

	.info {
		background: url('../images/mac.jpg');
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		color: #0B304D;
		border-left-color: #0B304D;
		overflow: hidden;


	}

	#profileimage {
		border: 10px solid #0B304D;
		box-shadow: 10px 10px #6C929F;
		float: right;
		margin-right: 100px
	}

	.info p {
		margin-top: 70px;
		font-size: 1.5em;
		font-weight: bold;
		float: left;
		margin-left: 50px
	}

	.photo img {
		padding: 0 2% 0 0;

	}

	header {

		overflow: hidden;
		margin-left: 10px;
		margin-right: 0;
		margin-bottom: 0;

	}

	.main-nav ul {
		margin-left: 230px;
		padding-left: 50px;
	}

	#contact p {
		width: 60%;
	}

	.main-nav ul {

		padding: 10px;
		margin-left: 200px;
		text-align: right;
		color: #9f7c6c;
	}



}
